In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:

data = pd.read_csv("diabetes.csv", header=0)

In [7]:
print(data.head())

   Unnamed: 0    id   chol  stab.glu   hdl  ratio  glyhb    location  age  \
0           1  1000  203.0        82  56.0    3.6   4.31  Buckingham   46
1           2  1001  165.0        97  24.0    6.9   4.44  Buckingham   29
2           3  1002  228.0        92  37.0    6.2   4.64  Buckingham   58
3           4  1003   78.0        93  12.0    6.5   4.63  Buckingham   67
4           5  1005  249.0        90  28.0    8.9   7.72  Buckingham   64

   gender  ...  bp.1d  bp.2s bp.2d  waist   hip  time.ppn  insurance  fh  \
0  female  ...   59.0    NaN   NaN   29.0  38.0     720.0          1   0
1  female  ...   68.0    NaN   NaN   46.0  48.0     360.0          0   0
2  female  ...   92.0  185.0  92.0   49.0  57.0     180.0          2   0
3    male  ...   50.0    NaN   NaN   33.0  38.0     480.0          1   0
4    male  ...   80.0    NaN   NaN   44.0  41.0     300.0          0   0

   smoking   dm
0        3   no
1        2   no
2        2   no
3        3   no
4        3  yes

[5 rows x 24 columns]

In [8]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 403 entries, 0 to 402
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  403 non-null    int64
 1   id          403 non-null    int64
 2   chol        402 non-null    float64
 3   stab.glu    403 non-null    int64
 4   hdl         402 non-null    float64
 5   ratio       402 non-null    float64
 6   glyhb       390 non-null    float64
 7   location    403 non-null    object
 8   age         403 non-null    int64
 9   gender      403 non-null    object
 10  height      398 non-null    float64
 11  weight      402 non-null    float64
 12  frame       391 non-null    object
 13  bp.1s       398 non-null    float64
 14  bp.1d       398 non-null    float64
 15  bp.2s       141 non-null    float64
 16  bp.2d       141 non-null    float64
 17  waist       401 non-null    float64
 18  hip         401 non-null    float64
 19  time.ppn    400 non-null    float64
 20  insurance   403 non-null    int64
 21  fh          403 non-null    int64
 22  smoking     403 non-null    int64
 23  dm          390 non-null    object
dtypes: float64(13), int64(7), object(4)
memory usage: 75.7+ KB
None

In [10]:

data_describe = data.describe().round(1)
print(data_describe)

       Unnamed: 0       id   chol  stab.glu    hdl  ratio  glyhb    age  \
count       403.0    403.0  402.0     403.0  402.0  402.0  390.0  403.0
mean        202.0  15978.3  207.8     106.7   50.4    4.5    5.6   46.9
std         116.5  11881.1   44.4      53.1   17.3    1.7    2.2   16.3
min           1.0   1000.0   78.0      48.0   12.0    1.5    2.7   19.0
25%         101.5   4792.5  179.0      81.0   38.0    3.2    4.4   34.0
50%         202.0  15766.0  204.0      89.0   46.0    4.2    4.8   45.0
75%         302.5  20336.0  230.0     106.0   59.0    5.4    5.6   60.0
max         403.0  41756.0  443.0     385.0  120.0   19.3   16.1   92.0

       height  weight  bp.1s  bp.1d  bp.2s  bp.2d  waist    hip  time.ppn  \
count   398.0   402.0  398.0  398.0  141.0  141.0  401.0  401.0     400.0
mean     66.0   177.6  136.9   83.3  152.4   92.5   37.9   43.0     341.2
std       3.9    40.3   22.7   13.6   21.7   11.6    5.7    5.7     309.5
min      52.0    99.0   90.0   48.0  110.0   60.0   26.0   30.0       5.0
25%      63.0   151.0  121.2   75.0  138.0   84.0   33.0   39.0      90.0
50%      66.0   172.5  136.0   82.0  149.0   92.0   37.0   42.0     240.0
75%      69.0   200.0  146.8   90.0  161.0  100.0   41.0   46.0     517.5
max      76.0   325.0  250.0  124.0  238.0  124.0   56.0   64.0    1560.0

       insurance     fh  smoking
count      403.0  403.0    403.0
mean         1.1    0.2      1.8
std          0.8    0.4      0.7
min          0.0    0.0      1.0
25%          0.0    0.0      1.0
50%          1.0    0.0      2.0
75%          2.0    0.0      2.0
max          2.0    1.0      3.0

In [11]:
num_rows, num_columns = data.shape

print(f"Número de filas: {num_rows}")
print(f"Número de columnas: {num_columns}")

Número de filas: 403
Número de columnas: 24

In [12]:
print(data["dm"].unique())

['no' 'yes' nan]

In [15]:
print(data["dm"].dtype)

category

In [14]:
data["dm"] = pd.Categorical(data["dm"])

In [16]:
print(data["dm"].unique())

['no', 'yes', NaN]
Categories (2, object): ['no', 'yes']

In [17]:
# Tabulación de la columna "gender"
t = pd.crosstab(index=data["gender"], columns="count")

# Agregar los totales
t_with_margins = t.append(t.sum(numeric_only=True), ignore_index=True)
t_with_margins.index = data["gender"].unique().tolist() + ["Total"]

print(t_with_margins)

col_0   count
female    234
male      169
Total     403

C:\Users\limco\AppData\Local\Temp\ipykernel_16468\3544727977.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  t_with_margins = t.append(t.sum(numeric_only=True), ignore_index=True)

In [20]:
# Calcular las proporciones
prop_table = t / t.sum()
prop_table_rounded = prop_table.round(1)

print(prop_table_rounded)

col_0   count
gender
female    0.6
male      0.4

In [21]:

print(100*prop_table_rounded)

col_0   count
gender
female   60.0
male     40.0

In [24]:
data["dm"] = data["dm"].astype("category")

# Mostrar la tabla de frecuencias incluyendo los valores faltantes
t_dm2 = data["dm"].value_counts(dropna=False)
print(t_dm2)

no     330
yes     60
NaN     13
Name: dm, dtype: int64

In [25]:
height = data["height"]
weight = data["weight"]

In [26]:
# Mostrar un resumen de la columna "height"
print(height.describe())

count    398.000000
mean      66.020101
std        3.918515
min       52.000000
25%       63.000000
50%       66.000000
75%       69.000000
max       76.000000
Name: height, dtype: float64

In [27]:

# Mostrar un resumen de la columna "weight"
print(weight.describe())

count    402.000000
mean     177.592040
std       40.340666
min       99.000000
25%      151.000000
50%      172.500000
75%      200.000000
max      325.000000
Name: weight, dtype: float64

In [28]:
from calculate_bmi_module import BMICalculator

In [29]:
# Crear una instancia de BMICalculator
bmi_calculator = BMICalculator(data)

In [30]:
# Calcular el BMI y obtener el resultado
result = bmi_calculator.calculate_bmi()

# Mostrar las primeras filas del resultado
print(result.head())

   Unnamed: 0    id   chol  stab.glu   hdl  ratio  glyhb    location  age  \
0           1  1000  203.0        82  56.0    3.6   4.31  Buckingham   46
1           2  1001  165.0        97  24.0    6.9   4.44  Buckingham   29
2           3  1002  228.0        92  37.0    6.2   4.64  Buckingham   58
3           4  1003   78.0        93  12.0    6.5   4.63  Buckingham   67
4           5  1005  249.0        90  28.0    8.9   7.72  Buckingham   64

   gender  ...  waist   hip time.ppn  insurance  fh  smoking   dm  height_si  \
0  female  ...   29.0  38.0    720.0          1   0        3   no     1.5748
1  female  ...   46.0  48.0    360.0          0   0        2   no     1.6256
2  female  ...   49.0  57.0    180.0          2   0        2   no     1.5494
3    male  ...   33.0  38.0    480.0          1   0        3   no     1.7018
4    male  ...   44.0  41.0    300.0          0   0        3  yes     1.7272

    weight_si        bmi
0   54.884632  22.130944
1   98.883056  37.419200
2  116.119552  48.370241
3   53.977448  18.637828
4   83.007336  27.824747

[5 rows x 27 columns]

In [31]:
print(result['bmi'].head())

0    22.130944
1    37.419200
2    48.370241
3    18.637828
4    27.824747
Name: bmi, dtype: float64

In [32]:
# Definir la función de categorización
def categorize_bmi(bmi):
    if bmi < 18.5:
        return "underweight"
    elif 18.5 <= bmi <= 25:
        return "normal"
    elif 25 < bmi <= 30:
        return "overweight"
    elif bmi > 30:
        return "obese"
    else:
        return None

In [33]:
# Aplicar la función a la columna 'bmi' y crear una nueva columna 'bmi_categorised'
result['bmi_categorised'] = result['bmi'].apply(categorize_bmi)

# Obtener la tabla de frecuencias de la columna 'bmi_categorised'
bmi_counts = result['bmi_categorised'].value_counts()

# Mostrar la tabla de frecuencias
print(bmi_counts)

obese          152
overweight     123
normal         113
underweight      9
Name: bmi_categorised, dtype: int64

In [34]:
# Realizar la tabulación cruzada de bmi_categorised y dm2
dm_by_bmi_category = pd.crosstab(result['bmi_categorised'], result['dm'], dropna=False)

# Calcular los porcentajes de fila y redondearlos a un decimal
row_percentages = (dm_by_bmi_category.T / dm_by_bmi_category.sum(axis=1)).T * 100
row_percentages_rounded = row_percentages.apply(lambda x: round(x, 1))

In [36]:
# Mostrar la tabulación cruzada y los porcentajes de fila redondeados
print(dm_by_bmi_category)

dm                no  yes
bmi_categorised
normal           100    9
obese            118   29
overweight        99   20
underweight        9    0

In [39]:
# Crear la variable 'age'
age = result['age']

In [40]:
# Crear una variable categórica 'age_grouped'
def categorize_age(age):
    if age < 45:
        return "under 45"
    elif 45 <= age < 65:
        return "45 - 64"
    elif 65 <= age < 75:
        return "65 - 74"
    elif age >= 75:
        return "75 or over"
    else:
        return None

age_grouped = age.apply(categorize_age)

In [42]:
# Realizar la tabulación cruzada de 'age_grouped' y 'gender', incluyendo valores nulos
age_group_by_gender = pd.crosstab(age_grouped, result['gender'], dropna=False)

In [43]:
# Calcular la proporción de la muestra total, convertir a porcentaje y redondear a 1 decimal
percentage_table = (age_group_by_gender / age_group_by_gender.sum().sum()) * 100
percentage_table_rounded = percentage_table.applymap(lambda x: round(x, 1))

In [44]:
# Mostrar la tabulación cruzada como proporción en porcentaje y redondeada
print(percentage_table_rounded)

gender      female  male
age
45 - 64       18.6  15.9
65 - 74        5.2   5.0
75 or over     3.0   2.7
under 45      31.3  18.4

In [45]:
percentage_table = (age_group_by_gender / age_group_by_gender.sum().sum()) * 100
percentage_table_rounded = percentage_table.applymap(lambda x: round(x, 1))

In [46]:
# Mostrar la tabulación cruzada como proporción en porcentaje y redondeada
print(percentage_table_rounded)

gender      female  male
age
45 - 64       18.6  15.9
65 - 74        5.2   5.0
75 or over     3.0   2.7
under 45      31.3  18.4

In [47]:

# Mostrar la nueva tabla cruzada en porcentaje en otra ventana
print("\nTabla cruzada de edades por género en porcentaje:")
print(round(100 * percentage_table_rounded, 1))

Tabla cruzada de edades por género en porcentaje:
gender      female    male
age
45 - 64     1860.0  1590.0
65 - 74      520.0   500.0
75 or over   300.0   270.0
under 45    3130.0  1840.0